.footer-car {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    /* max-width: 320px; */
    height: 120px;
    background-color: var(--card-color-header-car-primary);
    margin: 0 auto;
    /* position: fixed; */


}

.footer-car h3 {
    color: #FFF;
    font-size: 16px;
    width: 100%;
    max-width: 315px;
    height: 21px;
    margin-left: 120px;
    text-align: center;
}


.footer-car h4 {
    color: #FFF;
    font-size: 16px;
    width: 100%;
    max-width: 180px;
    height: 21px;
    margin-right: 120px;
    text-align: center;
    font-style: italic;
}

@media (min-width: 320px) {
    .footer-car {
        flex-wrap: wrap;
        align-items: center;
        height: 120px;
        justify-content: center;
    }
    
}